.contact-frase {
    color: #2a2a2a;
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 3rem;
    transition: .2s ease-in-out;

    &:hover {
        color: $color-main;
    }
}

.contact {
    margin-bottom: 5rem;

    h4 {
        text-align: center;
        font-size: 4rem;
        text-transform: uppercase;
    }

    .contact-content {
        height: 60vh;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;

        .contact-form {
            height: 100%;
            padding: 3rem 3rem 4rem;
            width: 45%;
            background-color: $color-white;
            box-shadow: 0px 0px 37px -4px rgba(0,0,0,0.24);

            form {
                height: 100%;
            }

            h5 {
                margin: 0;
                text-align: center;
                font-size: 3rem;
                color: #01264a;
            }

            div {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;

                input {
                    width: 49%;
                    padding: 1.5rem 2rem;
                    margin: .5rem 0;
                    display: inline-block;
                    border: none;
                }

                input[type=text] {
                    background-color: #c5e2ff;
                }

                input[type=number], input[type=email] {
                    background-color: #9dcefd;
                }
            }

            textarea {
                width: 100%;
                height: calc(100% - 20rem);
                margin: .5rem 0 0;
                background-color: #72b8fd;
                border: none;
            }

            input[type=submit] {
                width: 20%;
                min-width: 10rem;
                padding: 1.2rem 2rem;
                display: inline-block;
                border: none;
                cursor: pointer;
                background-color: $color-main;
                color: $color-white;

                &:hover {
                    background-color: #3da4ff;
                }
            }
        }

        .contact-info {
            width: 45%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: $color-white;
            box-shadow: 0px 0px 37px -4px rgba(0,0,0,0.24);
            z-index: 1;

            #map {
                width: 100%;
                height: 45%;
            }

            .contact-address {
                width: 100%;
                font-size: 1.5rem;
                padding: .8rem 0;
                background-color: $color-main;
                color: $color-white;
                text-align: center;
            }

            .contact-numbers {
                margin-top: 4rem;
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
                flex-direction: row;
                text-align: center;

                h5 {
                    font-size: 2rem;
                    margin: 1rem;
                }
            }
        }
    }
}

::placeholder {
    color: #01264a;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #01264a;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #01264a;
}

@media only screen and (max-width: 1280px) {
    .contact-frase {
        font-size: 3rem;
        margin: 2rem;
    }

    .contact {
        .contact-content {
            height: 80vh;
        }
    }
}


@media only screen and (max-width: 768px) {
    .contact-frase {
        font-size: 2.5rem;
        margin: 2rem;
    }
    
    .contact {

        h4 {
            font-size: 2.8rem;
            margin: 4rem auto 1rem;
        }

        .contact-content {
            flex-direction: column-reverse;
            height: 100%;

            .contact-form {
                width: 100%;
                padding: 2rem;

                div {
                    flex-direction: column;

                    input {
                        width: 100%;
                    }
                }

                input[type=submit] {
                    width: 100%;
                }

                textarea {
                    height: 20rem;
                }
            }

            .contact-info {
                width: 100%;
                margin-bottom: 2rem;

                #map {
                    width: 100%;
                    height: 45vh;
                }
            }
        }
    }
}