.home-about {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    p {
        margin: 0;
    }

    div {
        width: 47%;

        .subtitle {
            font-size: 2.8rem;
            padding-left: 2rem;
            color: $color-white;
            font-weight: bold;
            text-transform: uppercase;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                clip-path: polygon(0 0, 94% 0, 75% 100%, 0% 100%);
                width: 35rem;
                height: 6rem;
                left: 0;
                top: -1rem;
                background-color: $color-main;
                z-index: -1;
            }
        }

        .ha-frase {
            width: 80%;
            padding-left: 4rem;
            font-size: 5rem;
            margin-top: 3rem;
            font-weight: bold;
            line-height: 5rem;
            transition: .18s ease-in;
        }
    }

    .ha-text {
        width: 47%;
        margin-top: 2rem;

        p {  
            font-size: 2.6rem;
            line-height: 3rem;
            text-align: justify;
            text-indent: 2rem;
        }

        .see-more {
            color: transparent;
            float: right;
            position: relative;
            margin-top: 3rem;
            padding-right: 2rem;
        }
    }

    &:hover {
        .ha-text {
            .see-more {
                color: $color-white;

                &::before {
                    clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
                    width: 15rem;
                }

                &:hover::before {
                    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
                    width: 20rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .home-about {
        div {
            .subtitle {
                font-size: 2.5rem;
                padding-left: 1.6rem;

                &::before {
                    width: 30rem;
                    height: 6rem;
                    top: -1.4rem;
                }
            }
            
            .ha-frase {
                width: 100%;
                font-size: 5.2rem;
                line-height: 5rem;
            }
        }

        .ha-text p {
            margin-top: 0;
            font-size: 2.6rem;
            line-height: 2.4rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .home-about {
        flex-direction: column;
        margin-top: 3.5rem;

        div {
            width: 100%;

            .ha-frase {
                width: 100%;
                text-align: center;
                padding-left: 0;
                margin-top: 4rem;
            }
        }
    
        .ha-text {
            text-align: center;
            margin-top: 2rem;
            width: 100%;
            font-size: 2.2rem;
        }
    }
}