.service-cards {
    background-color: rebeccapurple;

    margin-top: 6vh;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;

    .service-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        p {
            font-size: 3rem;
            text-align: center;
            color: transparent;
            margin: 12vh 4rem;
            z-index: 1;
            transition: .18s ease-in;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: $color-main;
                width: 100%;
                height: 9.5%;
                z-index: -1;
                transition: .18s ease-in;
            }
        }

        a {
            color: transparent;
            width: 100%;
            text-align: center;
            font-size: 2.5rem;
            margin: 0;
            z-index: 1;
            transition: .18s ease-in;
        }

        &:hover {
            p {
                color: $color-white;

                &::before {
                    height: 100%;
                }
            }

            a {
                background-color: #ffffff;
                color: $color-main;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .service-cards {
        grid-template-columns: auto;

        .service-card {
            p {
                &::before {
                    width: 9.5%;
                    height: 100%;
                }
            }

            &:hover {
                p {
                    &::before {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}