@font-face {
  font-family: "bahnschrift";
  src: url("./fonts/bahnschrift.ttf");
}
/* Bases */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
  outline: none;
}
*:before, *:after {
  box-sizing: inherit;
  outline: none;
}

body {
  font-family: "bahnschrift", "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

/* Selection */
::-moz-selection {
  background: #0088ff;
  color: #fff;
}
::selection {
  background: #0088ff;
  color: #fff;
}

/** Global **/
header, nav {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/** Utilities **/
/* Usuals */
.fullscreen {
  position: relative;
  width: 100vw;
  width: calc(var(--vw, 1vw) * 100);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 1240px) {
  .container {
    max-width: 90%;
  }
}
/* Displays */
.display-mobile {
  display: block !important;
}

.display-pc {
  display: none !important;
}

@media only screen and (min-width: 768px) {
  .display-mobile {
    display: none !important;
  }
  .display-pc {
    display: flex !important;
  }
}
/* Others */
.see-more {
  font-size: 1.8rem;
  transition: 0.2s ease-in;
}
.see-more::before {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
  width: 6rem;
  height: 6rem;
  right: 0;
  bottom: -1.5rem;
  background-color: #0088ff;
  z-index: -1;
  transition: 0.2s ease-in;
}

.sub-hero {
  height: 23.2vh !important;
}
.sub-hero h2 {
  width: 50% !important;
}

@media only screen and (max-width: 768px) {
  .sub-hero h2 {
    font-size: 3rem !important;
    width: 90% !important;
  }
}
/** HEADER **/
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 7.8vh;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.63);
  z-index: 99;
  background-color: #fff;
  transition: 0.2s ease-in-out;
}

.header:hover > .header-border {
  opacity: 1;
}

.header-active {
  height: 6.8vh;
}

.header-content {
  background-color: #fff;
  position: relative;
  z-index: 3;
  height: calc(100% - 3px);
}

.header-border {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 500ms;
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), #0088ff, transparent 40%);
  z-index: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

.logo {
  z-index: 99;
}

.navbar-anchors {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  font-weight: bold;
  padding-top: 4px;
}

.navbar-anchors a {
  font-size: 1.8rem;
  transition: 0.2s ease-in;
}

.navbar-anchors a:hover {
  color: #0088ff;
}

@media only screen and (max-width: 1280px) {
  .navbar-anchors a {
    font-size: 1.6rem;
  }
  .header-active {
    height: 7.2vh;
  }
}
/* Hamburger-bars based on W3schoole one's */
.bars {
  display: inline-block;
  cursor: pointer;
  z-index: 99;
}

.bars div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.bar-active .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}

.bar-active .bar2 {
  opacity: 0;
}

.bar-active .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}

/* Menu */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background-color: #fff;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  transition: 0.3s ease-in;
}
.sidebar .sidebar-anchors {
  position: absolute;
  top: 7.5vh;
  right: 6vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.3rem;
  flex-direction: column;
  padding-bottom: 1.8rem;
}
.sidebar .sidebar-anchors a {
  font-weight: bold;
  font-size: 2rem;
  animation: sidebarAnchors 1.5s;
}
.sidebar .sidebar-anchors a:nth-child(2) {
  animation-duration: 1.8s;
}
.sidebar .sidebar-anchors a:nth-child(3) {
  animation-duration: 2.1s;
}
.sidebar .sidebar-anchors a:nth-child(4) {
  animation-duration: 2.4s;
}
.sidebar .sidebar-anchors::after {
  content: "";
  width: 60vw;
  height: 2px;
  background-color: #0088ff;
  position: absolute;
  top: 18.5rem;
  right: 0;
  animation: sidebarAnchors 2.7s;
}
.sidebar .sidebar-info {
  width: 90%;
  position: absolute;
  bottom: 28vh;
  right: 6vw;
  text-align: end;
  animation: sidebarInfo 1s;
}

.display-menu {
  display: flex !important;
  animation: displayMenu 0.5s;
}

@keyframes displayMenu {
  from {
    translate: 0 -10%;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}
@keyframes sidebarAnchors {
  from {
    translate: -5rem 0;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}
@keyframes sidebarInfo {
  from {
    translate: 0 -15rem;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}
/** HERO **/
.hero {
  margin-top: 6.8vh;
  background: linear-gradient(to top, rgba(30, 30, 30, 0.05), rgba(0, 0, 0, 0.5)), url(./img/Banner.png);
  height: 69.2vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.hero div {
  height: 80%;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.hero h2 {
  color: #fff;
  font-size: 4.8rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 33%;
  line-height: 1.2;
  margin: 0;
  transition: 0.18s ease-in;
}
.hero p, .hero a {
  color: #fff;
  margin: 0;
}
.hero p {
  width: 28%;
  font-size: 2rem;
  font-weight: 100;
}
.hero a {
  margin-top: 2rem;
  margin-left: 1.5rem;
  font-size: 2.2rem;
  position: relative;
  z-index: 1;
  transition: 0.3s ease;
}
.hero a::before {
  content: "";
  background-color: transparent;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  border: solid 3px #fff;
  width: 15rem;
  height: 5rem;
  position: absolute;
  top: calc(50% - 2.7rem);
  left: -1.4rem;
  z-index: -1;
  transition: 0.3s ease;
}
.hero a:hover {
  color: #000;
}
.hero a:hover::before {
  background-color: #fff;
}
.hero:hover > div > h2 {
  font-size: 5.1rem;
}

@media only screen and (max-width: 1280px) {
  .hero h2 {
    font-size: 3.2rem;
  }
  .hero:hover > div > h2 {
    font-size: 3.4rem;
  }
  .hero p {
    font-size: 1.8rem;
  }
  .hero a {
    font-size: 1.9rem;
  }
  .hero a::before {
    width: 13.3rem;
    height: 4.4rem;
    top: calc(50% - 2.3rem);
  }
}
@media only screen and (max-width: 768px) {
  .hero h2 {
    font-size: 3.2rem;
    width: 90%;
  }
  .hero:hover > div > h2 {
    font-size: 3.2rem;
  }
  .hero p {
    width: 100%;
  }
}
/** ABOUT SECTION **/
.home-about {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.home-about p {
  margin: 0;
}
.home-about div {
  width: 47%;
}
.home-about div .subtitle {
  font-size: 2.8rem;
  padding-left: 2rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.home-about div .subtitle::before {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(0 0, 94% 0, 75% 100%, 0% 100%);
          clip-path: polygon(0 0, 94% 0, 75% 100%, 0% 100%);
  width: 35rem;
  height: 6rem;
  left: 0;
  top: -1rem;
  background-color: #0088ff;
  z-index: -1;
}
.home-about div .ha-frase {
  width: 80%;
  padding-left: 4rem;
  font-size: 5rem;
  margin-top: 3rem;
  font-weight: bold;
  line-height: 5rem;
  transition: 0.18s ease-in;
}
.home-about .ha-text {
  width: 47%;
  margin-top: 2rem;
}
.home-about .ha-text p {
  font-size: 2.6rem;
  line-height: 3rem;
  text-align: justify;
  text-indent: 2rem;
}
.home-about .ha-text .see-more {
  color: transparent;
  float: right;
  position: relative;
  margin-top: 3rem;
  padding-right: 2rem;
}
.home-about:hover .ha-text .see-more {
  color: #fff;
}
.home-about:hover .ha-text .see-more::before {
  -webkit-clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
  width: 15rem;
}
.home-about:hover .ha-text .see-more:hover::before {
  -webkit-clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
  width: 20rem;
}

@media only screen and (max-width: 1280px) {
  .home-about {
    margin-top: 5rem;
  }
  .home-about div .subtitle {
    font-size: 2.5rem;
    padding-left: 1.6rem;
  }
  .home-about div .subtitle::before {
    width: 30rem;
    height: 6rem;
    top: -1.4rem;
  }
  .home-about div .ha-frase {
    width: 100%;
    font-size: 5.2rem;
    line-height: 5rem;
  }
  .home-about .ha-text p {
    margin-top: 0;
    font-size: 2.6rem;
    line-height: 2.4rem;
  }
}
@media only screen and (max-width: 768px) {
  .home-about {
    flex-direction: column;
    margin-top: 3.5rem;
  }
  .home-about div {
    width: 100%;
  }
  .home-about div .ha-frase {
    font-size: 3.5rem;
    line-height: 3rem;
    width: 100%;
    text-align: center;
    padding-left: 0;
    margin-top: 4rem;
  }
  .home-about .ha-text {
    margin-top: 2rem;
    width: 100%;
  }
  .home-about .ha-text p {
    text-align: center;
    font-size: 2.2rem;
  }
}
/** SERVICE SECTION **/
.services {
  margin-top: 8rem;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.services a:nth-child(1) {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}
.services .services-content {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
}
.services .services-content .services-card {
  height: 100%;
  padding: 6rem 6rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.2s ease;
  position: relative;
}
.services .services-content .services-card img {
  width: 50%;
  transition: 0.2s ease;
}
.services .services-content .services-card .services-text p {
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
}
.services .services-content .services-card .services-text p:nth-child(1) {
  font-size: 3rem;
  line-height: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.services .services-content .services-card .see-more {
  color: transparent;
  position: relative;
  float: right;
  margin-top: 1.5rem;
}
.services .services-content .services-card .see-more::before {
  -webkit-clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
  width: 0;
  height: 4rem;
  right: -1rem;
  bottom: -0.5rem;
}
.services .services-content .services-card:hover img {
  background-color: rebeccapurple;
}
.services .services-content .services-card:hover .see-more {
  color: #fff;
}
.services .services-content .services-card:hover .see-more::before {
  width: 12rem;
}
.services .services-content .services-card:hover .see-more:hover::before {
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
  width: 20rem;
}

@media only screen and (max-width: 1440px) {
  .services .services-content {
    margin-top: 3rem;
  }
  .services .services-content .services-card {
    padding: 2rem;
  }
}
@media only screen and (max-width: 1280px) {
  .services {
    height: 70vh;
  }
}
@media only screen and (max-width: 768px) {
  .services {
    height: 100%;
    margin-top: 4rem;
  }
  .services a:nth-child(1) {
    font-size: 2.8rem;
  }
  .services .services-content {
    flex-direction: column;
  }
  .services .services-content .services-card {
    height: 35vh;
  }
  .services .services-content .services-card img {
    width: 35%;
  }
  .services .services-content .services-card .services-text p {
    margin: 0 auto;
    width: 60%;
  }
  .services .services-content .services-card .services-text p:nth-child(1) {
    font-size: 2.3rem;
    width: 80%;
  }
}
/** CLIENT SECTION **/
.home-clients {
  margin-top: 7rem;
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-clients a {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1.5rem;
}
.home-clients .clients-pictures {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 13vw 13vw;
  gap: 3rem;
  margin-bottom: 5rem;
}
.home-clients .clients-pictures div {
  background-color: #f4f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}
.home-clients .clients-pictures div:hover {
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.19);
  z-index: 3;
}
.home-clients .clients-pictures div img {
  width: 50%;
}
.home-clients .clients-pictures .clients-pictures-text {
  grid-area: 1/4/3/5;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  aspect-ratio: auto;
}
.home-clients .clients-pictures .clients-pictures-text p {
  font-size: 2.2rem;
  text-align: justify;
  align-items: start;
  text-indent: 1rem;
  padding: 2rem;
  margin: 0;
}
.home-clients .clients-pictures .clients-pictures-text a {
  color: #000;
  font-size: 1.3rem;
  margin: 0;
  margin-left: 2rem;
  transition: 0.15s ease-in;
}
.home-clients .clients-pictures .clients-pictures-text a:hover {
  color: #0088ff;
}

@media only screen and (max-width: 1280px) {
  .home-clients {
    margin-top: 2rem;
  }
  .home-clients .clients-pictures .clients-pictures-text p {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .home-clients {
    width: 95%;
    margin: 2rem auto 0;
  }
  .home-clients a {
    font-size: 2.8rem;
    margin: 2.2rem auto 1.8rem;
  }
  .home-clients .clients-pictures {
    grid-template-columns: 49% 49%;
    grid-template-rows: 17vh 17vh 17vh;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 3rem;
  }
  .home-clients .clients-pictures div img {
    width: 60%;
  }
  .home-clients .clients-pictures .clients-pictures-text {
    grid-area: auto;
    height: 5rem;
  }
  .home-clients .clients-pictures .clients-pictures-text a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    margin: 0;
    height: 100%;
  }
}
/** CONTACT SECTION **/
.contact-frase {
  color: #2a2a2a;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 3rem;
  transition: 0.2s ease-in-out;
}
.contact-frase:hover {
  color: #0088ff;
}

.contact {
  margin-bottom: 5rem;
}
.contact h4 {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
}
.contact .contact-content {
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.contact .contact-content .contact-form {
  height: 100%;
  padding: 3rem 3rem 4rem;
  width: 45%;
  background-color: #fff;
  box-shadow: 0px 0px 37px -4px rgba(0, 0, 0, 0.24);
}
.contact .contact-content .contact-form form {
  height: 100%;
}
.contact .contact-content .contact-form h5 {
  margin: 0;
  text-align: center;
  font-size: 3rem;
  color: #01264a;
}
.contact .contact-content .contact-form div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.contact .contact-content .contact-form div input {
  width: 49%;
  padding: 1.5rem 2rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: none;
}
.contact .contact-content .contact-form div input[type=text] {
  background-color: #c5e2ff;
}
.contact .contact-content .contact-form div input[type=number], .contact .contact-content .contact-form div input[type=email] {
  background-color: #9dcefd;
}
.contact .contact-content .contact-form textarea {
  width: 100%;
  height: calc(100% - 20rem);
  margin: 0.5rem 0 0;
  background-color: #72b8fd;
  border: none;
}
.contact .contact-content .contact-form input[type=submit] {
  width: 20%;
  min-width: 10rem;
  padding: 1.2rem 2rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: #0088ff;
  color: #fff;
}
.contact .contact-content .contact-form input[type=submit]:hover {
  background-color: #3da4ff;
}
.contact .contact-content .contact-info {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 0px 37px -4px rgba(0, 0, 0, 0.24);
  z-index: 1;
}
.contact .contact-content .contact-info #map {
  width: 100%;
  height: 45%;
}
.contact .contact-content .contact-info .contact-address {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.8rem 0;
  background-color: #0088ff;
  color: #fff;
  text-align: center;
}
.contact .contact-content .contact-info .contact-numbers {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  text-align: center;
}
.contact .contact-content .contact-info .contact-numbers h5 {
  font-size: 2rem;
  margin: 1rem;
}

::-moz-placeholder {
  color: #01264a;
  opacity: 1; /* Firefox */
}

::placeholder {
  color: #01264a;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #01264a;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #01264a;
}

@media only screen and (max-width: 1280px) {
  .contact-frase {
    font-size: 3rem;
    margin: 2rem;
  }
  .contact .contact-content {
    height: 80vh;
  }
}
@media only screen and (max-width: 768px) {
  .contact-frase {
    font-size: 2.5rem;
    margin: 2rem;
  }
  .contact h4 {
    font-size: 2.8rem;
    margin: 4rem auto 1rem;
  }
  .contact .contact-content {
    flex-direction: column-reverse;
    height: 100%;
  }
  .contact .contact-content .contact-form {
    width: 100%;
    padding: 2rem;
  }
  .contact .contact-content .contact-form div {
    flex-direction: column;
  }
  .contact .contact-content .contact-form div input {
    width: 100%;
  }
  .contact .contact-content .contact-form input[type=submit] {
    width: 100%;
  }
  .contact .contact-content .contact-form textarea {
    height: 20rem;
  }
  .contact .contact-content .contact-info {
    width: 100%;
    margin-bottom: 2rem;
  }
  .contact .contact-content .contact-info #map {
    width: 100%;
    height: 45vh;
  }
}
/** FOOTER **/
footer {
  border-top: 3px solid #0088ff;
  background: linear-gradient(to top, rgba(30, 30, 30, 0.05), rgba(0, 0, 0, 0.5)), url(./img/subbanner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer {
  margin: 1.5rem auto 0;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.footer div {
  width: 33%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.footer div .footer-title {
  font-size: 2.3rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
}
.footer div p {
  margin: 0;
  line-height: 2rem;
  font-size: 1.7rem;
  color: #c9c9c9;
}
.footer div a {
  color: #c9c9c9;
  transition: 0.2s ease;
}
.footer div a:hover {
  color: #fff;
}
.footer div:nth-child(1) {
  text-align: start;
}
.footer div:nth-child(1) a {
  font-size: 2.6rem;
}
.footer div:nth-child(1) p {
  text-align: justify;
  text-indent: 2rem;
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  .footer div {
    width: 100%;
  }
}
/** SERVICE PAGE **/
/* Service Hero */
.service-hero {
  background-image: url(./img/Banner.png);
  background-position: center;
  background-size: 100%;
  margin-top: 6.8vh;
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.service-hero img {
  width: 10%;
}
.service-hero h1 {
  color: #fff;
  width: 30%;
  text-transform: uppercase;
  line-height: 4.8rem;
  font-size: 4.5rem;
}

@media only screen and (max-width: 1280px) {
  .service-hero h1 {
    width: 40%;
    line-height: 3.8rem;
    font-size: 4.1rem;
  }
}
@media only screen and (max-width: 768px) {
  .service-hero {
    flex-direction: column;
  }
  .service-hero img {
    margin-top: 3rem;
    width: 30%;
  }
  .service-hero h1 {
    width: 100%;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
  }
}
/* Service Cards */
.service-cards {
  background-color: rebeccapurple;
  margin-top: 6vh;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
}
.service-cards .service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.service-cards .service-card p {
  font-size: 3rem;
  text-align: center;
  color: transparent;
  margin: 12vh 4rem;
  z-index: 1;
  transition: 0.18s ease-in;
}
.service-cards .service-card p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #0088ff;
  width: 100%;
  height: 9.5%;
  z-index: -1;
  transition: 0.18s ease-in;
}
.service-cards .service-card a {
  color: transparent;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  z-index: 1;
  transition: 0.18s ease-in;
}
.service-cards .service-card:hover p {
  color: #fff;
}
.service-cards .service-card:hover p::before {
  height: 100%;
}
.service-cards .service-card:hover a {
  background-color: #ffffff;
  color: #0088ff;
}

@media only screen and (max-width: 768px) {
  .service-cards {
    grid-template-columns: auto;
  }
  .service-cards .service-card p::before {
    width: 9.5%;
    height: 100%;
  }
  .service-cards .service-card:hover p::before {
    width: 100%;
    height: 100%;
  }
}
/** ABOUT PAGE **/
.about {
  margin: 6rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 53vh;
}
.about .about-text {
  width: 48%;
}
.about .about-text h3 {
  color: #2e2e2e;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 0;
  transition: 0.18s ease-in-out;
}
.about .about-text p {
  font-size: 2.6rem;
  line-height: 3rem;
  text-align: justify;
  text-indent: 2rem;
  margin-bottom: 6rem;
}
.about .about-text a {
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-left: 2rem;
}
.about .about-text a:hover::before {
  background-color: #000;
}
.about .about-text a:hover::after {
  width: 7rem;
}
.about .about-text a::before {
  -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  left: 0;
  bottom: -2rem;
  width: 20rem;
}
.about .about-text a::after {
  content: "";
  color: #000;
  position: absolute;
  width: 0;
  height: calc(6rem - 1px);
  left: 13rem;
  bottom: calc(-2rem + 1px);
  border: 2px solid #000;
  z-index: -3;
  transition: 0.18s ease-in;
}
.about .about-image {
  background: linear-gradient(to top, rgba(30, 30, 30, 0.05), rgba(0, 0, 0, 0.5)), url(./img/Banner.png);
  height: 100%;
  width: 48%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.about .about-image::after {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
  width: 18rem;
  height: 18rem;
  right: 0rem;
  bottom: 0rem;
  background-color: #0088ff;
  z-index: 1;
  transition: 0.2s ease-in;
}
.about:hover .about-text h3 {
  color: #000;
}
.about:hover .about-image::after {
  right: -1rem;
  bottom: -1rem;
}
.about:hover .about-image:hover::after {
  background-color: rgba(0, 0, 0, 0.937254902);
  right: -3rem;
  bottom: -3rem;
}

@media only screen and (max-width: 1280px) {
  .about {
    margin-top: 4rem;
    height: 75vh;
  }
  .about .about-text h3 {
    font-size: 3rem;
  }
  .about .about-text p {
    font-size: 2.2rem;
    margin-bottom: 4.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    margin-top: 2rem;
    flex-direction: column-reverse;
    height: 100%;
  }
  .about .about-text {
    margin-top: 3rem;
    width: 100%;
  }
  .about .about-text h3 {
    text-align: center;
  }
  .about .about-image {
    overflow: hidden;
    width: 100%;
    height: 50vh;
  }
}
.clients .clients-pictures {
  grid-template-columns: auto auto auto;
  grid-template-rows: 10vw 10vw 10vw;
}

@media only screen and (max-width: 768px) {
  .clients .clients-pictures {
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 10vh 10vh 10vh;
  }
}/*# sourceMappingURL=style.css.map */